### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [ ]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
# school_data_complete.head()

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [ ]:
student_count = school_data_complete['student_name'].count()
# student_count
school_count = school_data['school_name'].count()
# school_count
budget = school_data["budget"].sum()
avg_math = round(school_data_complete["math_score"].mean(),2)
avg_reading = round(school_data_complete["reading_score"].mean(),2)
passing_math = school_data_complete[school_data_complete.math_score >= 70]
m_count = passing_math["math_score"].count()
# m_count
p_m = (m_count/student_count)*100
passing_reading = school_data_complete[school_data_complete.reading_score >=70]
r_count = passing_reading["reading_score"].count()
# r_count
p_r = (r_count/student_count)*100
overall = ((p_r + p_m)/2)

In [ ]:
sum_district = pd.DataFrame({"Total Schools": school_count, 
                   "Total Students": [student_count], 
                   "Total Budget": [budget], 
                   "Average Math Score": [avg_math], 
                   "Average Reading Score": [avg_reading], 
                   "% Students Passing Math": [round(p_m,2)], 
                   "% Students Passing Reading": [round(p_r,2)], 
                   "Overall Passing %": [round(overall,1)]
                               })

sum_district['Total Budget'] = sum_district['Total Budget'].map("${:,.2f}".format)
sum_district['Total Students'] = sum_district['Total Students'].map("{:,.2f}".format)
sum_district['% Students Passing Math'] = sum_district['% Students Passing Math'].map("{:,}%".format)
sum_district['% Students Passing Reading'] = sum_district['% Students Passing Reading'].map("{:,}%".format)
sum_district['Overall Passing %'] = sum_district["Overall Passing %"].map("{:,}%".format)

sum_district

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)
  
* Create a dataframe to hold the above results

In [425]:
#groups by school
by_school = school_data_complete.set_index('school_name').groupby(['school_name'])

#school types
sch_types = school_data.set_index('school_name')['type']

# total students by school
stu_per_sch = by_school['Student ID'].count()

'''FIX BUDGET CALCULATION'''
# school budget
sch_budget = school_data.set_index('school_name')['budget']

#per student budget
stu_budget = school_data.set_index('school_name')['budget']/school_data.set_index('school_name')['size']

#avg scores by school
avg_math = by_school['math_score'].mean()
avg_read = by_school['reading_score'].mean()

# % passing scores
pass_math = (school_data_complete[school_data_complete['math_score'] >= 70].groupby('school_name')['Student ID'].count()/stu_per_sch)*100
pass_read = (school_data_complete[school_data_complete['reading_score'] >= 70].groupby('school_name')['Student ID'].count()/stu_per_sch)*100
overall = (school_data_complete[(school_data_complete['reading_score'] >= 70) & (school_data_complete['math_score'] >= 70)].groupby('school_name')['Student ID'].count()/stu_per_sch)*100 

sum_school = pd.DataFrame({
    "School Type": sch_types,
    "Total Students": stu_per_sch,
    "Per Student Budget": stu_budget,
    "Total School Budget": sch_budget,
    "Average Math Score": round((avg_math),2),
    "Average Reading Score": round((avg_read),2),
    '% Passing Math': round((pass_math),2),
    '% Passing Reading': round((pass_read),2),
    "Overall Passing": round((overall),2)
})

'''FORMAT'''
sum_school["Per Student Budget"] =sum_school["Per Student Budget"].map("${:,.2f}".format)
sum_school["Total School Budget"] = sum_school["Total School Budget"].map("${:,.2f}".format)
sum_school['% Passing Math'] = sum_school['% Passing Math'].map("{:,}%".format)
sum_school['% Passing Reading'] = sum_school['% Passing Reading'].map("{:,}%".format)  
sum_school["Overall Passing"] = sum_school['Overall Passing'].map("{:,}%".format)   

sum_school

,School Type,Total Students,Per Student Budget,Total School Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing
Bailey High School,District,4976,$628.00,"$3,124,928.00",77.05,81.03,66.68%,81.93%,54.64%
Cabrera High School,Charter,1858,$582.00,"$1,081,356.00",83.06,83.98,94.13%,97.04%,91.33%
Figueroa High School,District,2949,$639.00,"$1,884,411.00",76.71,81.16,65.99%,80.74%,53.2%
Ford High School,District,2739,$644.00,"$1,763,916.00",77.10,80.75,68.31%,79.3%,54.29%
Griffin High School,Charter,1468,$625.00,"$917,500.00",83.35,83.82,93.39%,97.14%,90.6%
Hernandez High School,District,4635,$652.00,"$3,022,020.00",77.29,80.93,66.75%,80.86%,53.53%
Holden High School,Charter,427,$581.00,"$248,087.00",83.80,83.81,92.51%,96.25%,89.23%
Huang High School,District,2917,$655.00,"$1,910,635.00",76.63,81.18,65.68%,81.32%,53.51%
Johnson High School,District,4761,$650.00,"$3,094,650.00",77.07,80.97,66.06%,81.22%,53.54%
Pena High School,Charter,962,$609.00,"$585,858.00",83.84,84.04,94.59%,95.95%,90.54%
Rodriguez High School,District,3999,$637.00,"$2,547,363.00",76.84,80.74,66.37%,80.22%,52.99%
Shelton High School,Charter,1761,$600.00,"$1,056,600.00",83.36,83.73,93.87%,95.85%,89.89%
Thomas High School,Charter,1635,$638.00,"$1,043,130.00",83.42,83.85,93.27%,97.31%,90.95%
Wilson High School,Charter,2283,$578.00,"$1,319,574.00",83.27,83.99,93.87%,96.54%,90.58%
Wright High School,Charter,1800,$583.00,"$1,049,400.00",83.68,83.96,93.33%,96.61%,90.33%

In [ ]:
# school_df = school_data.loc[:,["school_name", "type", "size", "budget"]]
# school_df["Per Student Budget"] = school_df["budget"]/school_df["size"]
# school_df = school_df.set_index("school_name")
# school_group = school_data_complete.groupby(["school_name"]).mean()
# school_group
# score_sch = school_group.loc[:,['reading_score',"math_score"]]
# score_sch = score_sch.rename(columns = {"reading_score": "Average Reading Score", "math_score": "Average Math Score"})
# pass_read = pd.DataFrame(school_data_complete[school_data_complete['reading_score'] >= 70].groupby('school_name')["Student ID"].count()/student_count)*100
# pass_math = pd.DataFrame(school_data_complete[school_data_complete['math_score'] >= 70].groupby('school_name').count()/student_count)*100
# overall = pd.DataFrame(school_data_complete[(school_data_complete['reading_score'] >= 70) & (school_data_complete['math_score'] >= 70)].groupby('school_name')['Student ID'].count()/student_count)*100 
# overall = overall.rename(columns = {"Student ID": "Overall"})
# pr_percents = pd.merge(pass_read, pass_math, on = "school_name", suffixes = ("% Passing Reading", "% Passing Math"))
# score_percents = pd.merge(pr_percents, overall, on = "school_name")

# score_percents = score_percents[["Student ID% Passing Reading","Student ID% Passing Math", "Overall"]]
# score_sch = pd.merge(score_percents, score_sch, on = "school_name")

## Top Performing Schools (By Passing Rate)

* Sort and display the top five schools in overall passing rate

In [ ]:
top_five = sum_school.sort_values("Overall Passing", ascending = False)
top_five.head()

## Bottom Performing Schools (By Passing Rate)

* Sort and display the five worst-performing schools

In [ ]:
bottom_five = sum_school.sort_values("Overall Passing")
bottom_five.head()

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [ ]:
#creates grade level average math scores for each school 
ninth_math = student_data.loc[student_data['grade'] == '9th'].groupby('school_name')["math_score"].mean()
tenth_math = student_data.loc[student_data['grade'] == '10th'].groupby('school_name')["math_score"].mean()
eleventh_math = student_data.loc[student_data['grade'] == '11th'].groupby('school_name')["math_score"].mean()
twelfth_math = student_data.loc[student_data['grade'] == '12th'].groupby('school_name')["math_score"].mean()

math_scores = pd.DataFrame({
        "9th": ninth_math,
        "10th": tenth_math,
        "11th": eleventh_math,
        "12th": twelfth_math
})
math_scores = math_scores[['9th', '10th', '11th', '12th']]
math_scores.index.name = "School"

#show and format
math_scores.style.format({'9th': '{:.1f}%', 
                          "10th": '{:.1f}%', 
                          "11th": "{:.1f}%", 
                          "12th": "{:.1f}%"})

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [424]:
#creates grade level average math scores for each school 
ninth_reading = student_data.loc[student_data['grade'] == '9th'].groupby('school_name')["reading_score"].mean()
tenth_reading = student_data.loc[student_data['grade'] == '10th'].groupby('school_name')["reading_score"].mean()
eleventh_reading = student_data.loc[student_data['grade'] == '11th'].groupby('school_name')["reading_score"].mean()
twelfth_reading = student_data.loc[student_data['grade'] == '12th'].groupby('school_name')["reading_score"].mean()

reading_scores = pd.DataFrame({
        "9th": ninth_reading,
        "10th": tenth_reading,
        "11th": eleventh_reading,
        "12th": twelfth_reading
})
reading_scores = reading_scores[['9th', '10th', '11th', '12th']]
reading_scores.index.name = "School"

# #show and format
reading_scores.style.format({'9th': '{:.1f}%', 
                          "10th": '{:.1f}%',
                          "11th": "{:.1f}%", 
                          "12th": "{:.1f}%"})

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [ ]:
# Sample bins. Feel free to create your own bins.
spending_bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]

In [ ]:
school_sp = pd.DataFrame(pd.cut(sum_school["Per Student Budget"], spending_bins, labels = group_names))
school_sp = school_sp.rename(columns = {"Per Student Budget": "Spending Category"})

In [ ]:
school_spending = pd.merge(sum_school, school_sp,left_index=True, right_index=True)
school_spending = school_spending.loc[:,["Spending Category", "Average Reading Score", "Average Math Score", "% Passing Math", "% Passing Reading","Overall Passing"]]
school_spending.index.name = "School"

school_spending

## Scores by School Size

* Perform the same operations as above, based on school size.

In [ ]:
# Sample bins. Feel free to create your own bins.
size_bins = [0,1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [ ]:
school_score = pd.DataFrame(pd.cut(sum_school["Total Students"], size_bins, labels = group_names))
school_score = school_score.rename(columns = {"Total Students": "Size Category"})

In [ ]:
school_size = pd.merge(sum_school, school_score,left_index=True, right_index=True)
school_size = school_size.loc[:,["Size Category", "Average Reading Score", "Average Math Score", "% Passing Math", "% Passing Reading","Overall Passing"]]
school_size.index.name = "School"

school_size

## Scores by School Type

* Perform the same operations as above, based on school type.

In [ ]:
# by_type = (school_data_complete.set_index('type').groupby(['type']))
# by_type.head()

In [ ]:
# total students by school
stu_per_typ = by_type['Student ID'].count()


#avg scores by school
avg_math = by_type['math_score'].mean()
avg_read = by_type['reading_score'].mean()

'''CORRECT PERCENTAGES'''
# % passing scores
type_pass_math = school_data_complete[school_data_complete['math_score'] >= 70].groupby('type')['Student ID'].count()/stu_per_typ
type_pass_read = school_data_complete[school_data_complete['reading_score'] >= 70].groupby('type')['Student ID'].count()/stu_per_typ
type_overall = school_data_complete[(school_data_complete['reading_score'] >= 70) & (school_data_complete['math_score'] >= 70)].groupby('type')['Student ID'].count()/by_type["Student ID"].count()
# df build            
scores_by_type = pd.DataFrame({
    "Average Math Score": avg_math,
    "Average Reading Score": avg_read,
    '% Passing Math': type_pass_math,
    '% Passing Reading': type_pass_read,
    "Overall Passing Rate": type_overall}) 

scores_by_type.index.name = "Type of School"


#formating
scores_by_type.style.format({'Average Math Score': '{:.1f}', 
                              'Average Reading Score': '{:.1f}', 
                              '% Passing Math': '{:.1%}', 
                              '% Passing Reading':'{:.1%}', 
                              'Overall Passing Rate': '{:.1%}'})